<ul>
  <li>uid: <%= @user_info.uid %></li>
  <li>nickname: <%= @user_info.info.nickname %></li>
  <li>name: <%= @user_info.info.name %></li>
  <li>image: <%= image_tag @user_info.info.image %></li>
  <li>bio: <%= image_tag @user_info.info.bio %></li>
  <li>website: <%= image_tag @user_info.info.website %></li>
  <li>token: <%= @user_info.credentials.token %></li>
</ul>
